<div class="alltrips">
  <div class="triplist">
    <div class="onetrip">
      <div class="onetripimage">
        <img src="https://picsum.photos/501" alt="" />
      </div>
      <div class="onetripdescription">
        <h1>My Title</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis alias
          eos possimus ea deserunt minima officiis earum nihil, id quia
          voluptates reiciendis laboriosam, commodi quos repudiandae libero iste
          beatae soluta. lorem ipsum dolor sit amet consectetur adipisicing el
        </p>
      </div>
    </div>

    <div class="onetrip">
      <div class="onetripimage">
        <img src="https://picsum.photos/425" alt="" />
      </div>
      <div class="onetripdescription">
        <h1>My Title</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis alias
          eos possimus ea deserunt minima officiis earum nihil, id quia
          voluptates reiciendis laboriosam, commodi quos repudiandae libero iste
          beatae soluta. lorem ipsum dolor sit amet consectetur adipisicing el
        </p>
      </div>
    </div>
    <div class="onetrip">
      <div class="onetripimage">
        <img src="https://picsum.photos/500" alt="" />
      </div>
      <div class="onetripdescription">
        <h1>My Title</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis alias
          eos possimus ea deserunt minima officiis earum nihil, id quia
          voluptates reiciendis laboriosam, commodi quos repudiandae libero iste
          beatae soluta. lorem ipsum dolor sit amet consectetur adipisicing el
        </p>
      </div>
    </div>
    <div class="onetrip">
      <div class="onetripimage">
        <img src="https://picsum.photos/504" alt="" />
      </div>
      <div class="onetripdescription">
        <h1>My Title</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis alias
          eos possimus ea deserunt minima officiis earum nihil, id quia
          voluptates reiciendis laboriosam, commodi quos repudiandae libero iste
          beatae soluta. lorem ipsum dolor sit amet consectetur adipisicing el
        </p>
      </div>
    </div>
    <div class="onetrip">
      <div class="onetripimage">
        <img src="https://picsum.photos/506" alt="" />
      </div>
      <div class="onetripdescription">
        <h1>My Title</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis alias
          eos possimus ea deserunt minima officiis earum nihil, id quia
          voluptates reiciendis laboriosam, commodi quos repudiandae libero iste
          beatae soluta. lorem ipsum dolor sit amet consectetur adipisicing el
        </p>
      </div>
    </div>
  </div>
</div>
